.main-box {
    -fx-background-color: white;
}

.logo-pane {
    -fx-background-color: linear-gradient(to bottom, #4a90e2, #6b5edb); /* آبی به بنفش */
}

.logo-text {
    -fx-font-size: 96px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-text-fill: white;
    -fx-alignment: center;
}

/* .title-label {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
*/