.main-box {
    -fx-background-color: #ffffff;
    -fx-spacing: 20;
    -fx-padding: 20;
}

.top-row {
    -fx-background-color: #f5f5f5;
}

.bottom-row {
    -fx-background-color: #e0e0e0;
}

#startMessagingButton {
    -fx-background-color: linear-gradient(to bottom right, #6A5ACD, #1E90FF);
        -fx-text-fill: white;
        -fx-font-size: 16px;
        -fx-font-family: "Arial Rounded MT Bold";
        -fx-padding: 10 20;
        -fx-background-radius: 15;
}

#welcome-text {
    -fx-text-fill: #444;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
}

.link-label {
    -fx-text-fill: #666;
    -fx-font-size: 10px;
    -fx-cursor: hand;
    -fx-underline: false;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI";
}

.link-label:hover {
    -fx-text-fill: #1E90FF;
}

.signup-container {
    -fx-background-color: linear-gradient(to bottom right, #5B86E5, #8B5CF6);
    -fx-padding: 30;
}

.title-label {
    -fx-font-size: 22px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.signup-button {
    -fx-background-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 20;
    -fx-background-color: linear-gradient(to right, #6A5ACD, #00BFFF);
}

//.....
/* ============ Sign Up Exclusive Additions ============ */

#signupTitle {
    -fx-font-size: 36px;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #333;
}

.text-input-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-border-color: #ccc;
    -fx-border-width: 1;
}

.text-input-field:focused {
    -fx-border-color: #5B86E5;
    -fx-border-width: 2;
}

.verify-button {
    -fx-background-color: linear-gradient(to right, #6A5ACD, #00BFFF);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI";
    -fx-background-radius: 10;
    -fx-padding: 8 30;
}

.verify-button:hover {
    -fx-background-color: linear-gradient(to right, #00BFFF, #6A5ACD);
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #888;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}
.back-button:hover {
    -fx-text-fill: #333;
}

#errorLabel {
    -fx-text-fill: #e53935;
    -fx-font-size: 13px;
    -fx-padding: 5 0 0 10;
    -fx-font-family: "Segoe UI";
}


