
#rootPane {
    -fx-background-color: linear-gradient(to bottom, #3B82F6, #8B5CF6);
    -fx-padding: 40;
}


#welcome-text {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #7C3AED;
    -fx-font-family: "Segoe UI", "Poppins", "Arial";
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 6, 0.3, 0, 2);
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-alignment:center
}

#startMessagingButton {
    -fx-text-overrun: clip;
    -fx-wrap-text: true;
    -fx-alignment: center;
    -fx-background-color: #6366F1;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0.3, 0, 1);
}

#startMessagingButton:hover {
    -fx-background-color: #4F46E5;
}


#aboutLabel {
    -fx-text-fill: #A78BFA;
    -fx-font-size: 14px;
    -fx-underline: true;
    -fx-cursor: hand;
}

#aboutLabel:hover {
    -fx-text-fill: #4F46E5;
}